body{
  background-color: #fafafa;
  color: #222;
  color: rgba(20,20,20,0.8);
  font-size:18px;
  line-height:1.6;
  margin:40px auto;
  max-width:650px;
}
h1,h2,h3 {
  line-height:1.2
}
label {
  display: inline-block;
  width: 17em;
}
select {
  background: inherit;
  border: 0;
  font-size: 16px;
}
input {
  background-color: inherit;
  border: solid;
  border-color: #555;
  border-color: rgba(0,0,0,0.5);
  border-width: 0 0 1px ;
  font-size: 16px;
}
input:invalid {
  border-color: #800;
  border-color: rgba(255,0,0,0.5);
  color: red;
}
option {
  background-color: inherit;
}
button {
  background: #aaa;
  background: rgba(191, 191, 191, 0.5);
  border: 0;
  box-shadow: 0 2px 2px 0 #111;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  color:#222;
  color:rgba(20,20,20,0.8);
  font-size: 16px;
  margin: 5px;
  padding: 0.5em 1em;
}
button:active {
  background: #888;
  background: rgba(143, 143, 143, 0.5);
}

.input {
  padding: 2px;
}